body {background-color:#666666; margin:0px;}
body, table, td, input, select, h1, h2, h3, h4, h5, h6 {font-family:Arial; font-size:11px; color:#444444;}
body, form {margin:0px; padding:0px;}

a {color:#666666;text-decoration:underline;}
a:hover {text-decoration:underline;}
bottomLnk {color:ffffff;text-decoration:none;}
bottomLnk:hover {text-decoration:underline;}

.bold {font-weight:bold;}
.footer {font-family:Century Gothic; font-size:11px; color:#FFFFFF;}
.italic {font-style:italic;}
.sectionfont {font-family:Arial; font-size:36px; color:#283615;}


